tr.playlist-track {
  user-select: none;
  cursor: default;

  &.active {
    color: #1867c0;
  }

  td:first-child.stripe-container {
    position: relative;
    padding: 0;
    vertical-align: unset;

    .stripe {
      position: absolute;
      display: inline-block;
      padding-left: 0;
      padding-right: 0;
      width: 10px;
      height: 100%;
    }
  }
}
